WcfServiceLibraryClient/WCF_Client/Service References/IISHostServiceReference/HelloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pc384041.cts.com:8012/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pc384041.cts.com:8012/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pc384041.cts.com:8012/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobOpening_GetOpeningJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpeningJobs" />
  </wsdl:message>
  <wsdl:message name="IJobOpening_GetOpeningJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpeningJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobOpening_GetOpeningJobsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpeningJobsByRole" />
  </wsdl:message>
  <wsdl:message name="IJobOpening_GetOpeningJobsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpeningJobsByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobOpening">
    <wsdl:operation name="GetOpeningJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobOpening/GetOpeningJobs" message="tns:IJobOpening_GetOpeningJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobOpening/GetOpeningJobsResponse" message="tns:IJobOpening_GetOpeningJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpeningJobsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobOpening/GetOpeningJobsByRole" message="tns:IJobOpening_GetOpeningJobsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobOpening/GetOpeningJobsByRoleResponse" message="tns:IJobOpening_GetOpeningJobsByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobOpening" type="tns:IJobOpening">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOpeningJobs">
      <soap:operation soapAction="http://tempuri.org/IJobOpening/GetOpeningJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpeningJobsByRole">
      <soap:operation soapAction="http://tempuri.org/IJobOpening/GetOpeningJobsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="BasicHttpBinding_IJobOpening" binding="tns:BasicHttpBinding_IJobOpening">
      <soap:address location="http://pc384041.cts.com:8012/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>