WcfServiceLibraryClient/WCF_Client/Service References/IISHostServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pc384041.cts.com:8012/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetOpeningJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetOpeningJobsResult" nillable="true" type="q1:ArrayOfJobDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningJobsByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningJobsByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetOpeningJobsByRoleResult" nillable="true" type="q2:JobDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>